In [1]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv

--2024-09-23 02:13:13--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 298573 (292K) [text/plain]
Saving to: ‘laptops.csv’

laptops.csv         100%[===================>] 291.58K  --.-KB/s    in 0.03s

2024-09-23 02:13:13 (10.8 MB/s) - ‘laptops.csv’ saved [298573/298573]

In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.2.2'

In [4]:
df = pd.read_csv('laptops.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2156 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB

In [7]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [11]:
len(df.Brand.unique())

27

In [17]:
df[df['Brand'] == 'Dell']['Final Price'].max()

3936.0

In [19]:
df['Screen'].median()

15.6

In [20]:
df['Screen'].mode()

0    15.6
Name: Screen, dtype: float64

In [26]:
screen = df['Screen'].fillna(15.6)

In [28]:
screen.median()

15.6

In [37]:
X = df[df['Brand'] == 'Innjoo'][['RAM', 'Storage', 'Screen']].values

In [49]:
import numpy as np

In [51]:
XTX = np.dot(X.T, X)

In [55]:
inv_XTX = np.linalg.inv(XTX)

In [57]:
xtx_dot = np.dot(inv_XTX, X.T)

In [60]:
y = [1100, 1300, 800, 900, 1000, 1100]

In [64]:
w = np.dot(xtx_dot, y)

In [65]:
sum(w)

91.29988062995588